body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(141, 93, 93);
}
header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    max-width: 450px;
    margin: auto;
    padding: 13px;
    border-radius: 5px;
}

label{
    font-size: 19px;
}

input{
    font-size: 17px;
    padding: 5px;
    border-radius: 3px;
    border: solid 1.5px rgb(43, 29, 29);
}

div{
    margin: 11px;
    margin-bottom: 20px;
}

#res{
    text-align: center;
    font-size: 18px;
}

button{
    font-size: 17px;
    border-radius: 4px;
    background-color: rgba(141, 93, 93, 0.753);
    color: white;
}

.btn{
    margin: auto;
}